*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer{
    height: 100vh;
    width: 100vw;
}

.bodydiv{
   background-image: url(./Background.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* border: 2px solid red; */
     flex-direction: column;
    justify-content: center; 
}
/* head section------------ */
.child1{
    height:75%;
    width: 100%;
     display: flex;
    justify-content: center;
    /* border: 2px solid red; */
   
}

.parent{
    height: 100px;
    width: 70%;
    display: flex;
    /* border: 3px solid red; */
    justify-content: space-evenly;
    align-items: center;
    
}

.navbarImage{
    height: 80px;
    width: 20%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: end;
   
}
.navbarImage img{
    height: 60px;
    width: 60px;
}


.navbarList{
    height: 90px;
    width: 60%;
     display: flex;
    color: white;
    font-size: 25px;
    /* border: 3px solid rgb(0, 0, 0); */
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbarList ul{
    display: flex;
}
.navbarList ul li{
    margin: 30px;
    list-style: none;
}
.checkout{
    /* background-color: aliceblue; */
    height: 100px;
    width: 20%;
    display: flex;
    align-items: center;
}
button{
    height: 38px;
    width: 150px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    background-color: 
    #B7EAAF;
  border: 1px solid rgb(146, 176, 146);
}

/*  middle section---------------- */

.middlepart{
    position: absolute;
    top: 12%;
    left: 15%;
    width: 1000px;
    height: 600px;
    /* border: 2px solid red; */

}
.middleBackgroungPart{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 700px;
    height: 500px;
    border: 2px solid red;
    background: rgba(33, 63, 54, .9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.leftimage{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 90px;
    height: 90px;


}
.leftimage1{
    position: absolute;
    bottom: 25%;
    left: 5%;
    width: 120px;
    height: 120px; 
    z-index: 1;
}
.leftimage2{
    
    position: absolute;
    top: 5%;
    right: 0%;
    width: 120px;
    height: 120px;
}
.leftimage3{
    position: absolute;
    bottom: 25%;
    right: 8%;
    width: 120px;
    height: 120px; 
    z-index: 1;
}
.leftimage4{
    position: absolute;
    top: 2%;
    right: 30%;
    width: 120px;
    height: 120px;
    z-index: 1;
}


.leftimage3 img,
.leftimage1 img,
.leftimage img{
    height: 100%;
    width: 100%;
}

.logo{
    height: 80px;
    width: 80px;
    
}
.logo img{
    height: 100%;
    width: 100%;
}

.heading{
    height: auto;
    width: auto;
}
h1{
    font-size: 50px;
    color: #B7EAAF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.address{
    height: auto;
    width: 50%;
    font-size: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-align-last:center;
}
.buttonPArt{
    height: auto;
    width: auto;
}

.buttonPArt button{
        height: 70px;
        width: 350px;
        font-size: 30px;
        font-weight: 100;
        border-radius: 40px;
        color: white;
        background: linear-gradient(to right,#7FCA21,#105200);
       margin: 40px 0px;
       
}



/* Bottom part-------------- */

.bottom{
    height:25%;
    width: 100%;
    display: flex;
}
.bottom img{
    height: 100%;
    width: 100%;
}
